.logoImage {
  height: 200px;
  width: 200px;
  float: left;
}

.headerName {
  font-family: "Odibee Sans", cursive;
  font-size: 30px;
}

.buttonClass {
  width: 100px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar {
  background-color: #3b4445 !important;
}
